<div class="bs-example widget-shadow task-card-container col-md-9" data-example-id="contextual-table">
  <h4>{{taskCardTitle}}</h4>
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th></th>

      </tr>
    </thead>
    <tbody multi="true" *ngIf="tasks.length > 0" >
      <tr class="active" *ngFor="let task of tasks" >
        <td class="task-row" >
          <label class="checkbox-inline"
            ><input ngModel (change)="onDelete(task._id)" type="checkbox" value="" />{{task.title}}</label>
          <span class="label label-info" style="margin-left: 5px;">{{task.list}}</span>

          <span class="label label-success" style="margin-left: 5px;" *ngFor="let lbl of task.label" >{{lbl}}</span>
          <span class="label label-default" style="margin-left: 5px;">{{task.reminder}}</span>
          <span  class="label pull-right" (click)="editTask(task._id)" style="color:#bbb"
            ><i class="glyphicon glyphicon-edit"></i
          ></span>
        </td>

      </tr>


    </tbody>
    <p *ngIf = "tasks.length <= 0">
      No Task Added yet!
    </p>
  </table>
</div>
