<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <!--left-fixed -navigation-->
  <aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target=".collapse"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1>
          <a class="navbar-brand" href="index.html" style="color: white"
            ><span class="fa fa-area-chart"></span> To<span
              class="dashboard_text"
              >Doos</span
            ></a
          >
        </h1>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="sidebar-menu">
          <li class="header">
            MY LISTS<span class="label" (click)="onEditListClick()"
              ><i class="glyphicon glyphicon-edit"></i
            ></span>
          </li>
          <li *ngIf="!addListFlag">
            <a (click)="onAddAListClick()"
              ><i class="fa fa-angle-right text-red"></i>
              <span>Add a List</span></a
            >
          </li>
          <li *ngIf="addListFlag == true" style="padding-left: 20px">
            <i class="fa fa-angle-right text-red"></i>
            <form (submit)="onAddList(listInputForm)" #listInputForm="ngForm">
              <span
                ><input
                  class="list-input"
                  name="listInput"
                  ngModel
                  placeholder="Enter a list"
              /></span>
              <button
                style="display: inline; margin-left: 5px;"
                class="btn btn-info btn-sm"
                type="submit"
              >
                Add
              </button>
            </form>
          </li>
          <li class="treeview">
            <a [routerLink]="['/tasks']" routerLinkActive="router-link-active"  >
              <i class="fa fa-dashboard"></i> <span>All Tasks</span>
            </a>
          </li>

          <li class="treeview" *ngFor="let list of lists">
            <a [routerLink]="['/tasks/lists',list.id]" routerLinkActive="router-link-active" >
              <i class="fa fa-pie-chart"></i>
              <span>{{ list.title }}</span>
              <span (click) = "deleteList(list.id)" class="label label-danger  pull-right " *ngIf="editListFlag"
                ><i
                  class="glyphicon glyphicon-remove-circle"
                  style="color: white;"
                ></i
              ></span>


              <span class="label label-primary pull-right"></span>
            </a>
          </li>

          <li class="header">MY LABELS <span class="label" (click)="onEditLabelClick()"
            ><i class="glyphicon glyphicon-edit"></i
          ></span></li>

          <li *ngFor="let label of labels">
            <a [routerLink]="['/tasks/labels', label.id]" routerLinkActive="router-link-active" >
              <i class="fa fa-angle-right text-red"></i>
              <span>{{ label.title }}</span>
              <span (click) = "deleteLabel(label.id)" class="label label-danger  pull-right " *ngIf="editLabelFlag"
                ><i
                  class="glyphicon glyphicon-remove-circle"
                  style="color: white;"
                ></i
              ></span>
              </a
            >
          </li>
        </ul>
      </div>

      <!-- /.navbar-collapse -->
    </nav>
    <div style="text-align: center" *ngIf="userIsAuthenticated">
      <button (click)="onLogout()" class="btn btn-info rounded btn-sm ">
        Logout
      </button>
    </div>
  </aside>
</div>
<!--left-fixed -navigation-->
