<div class="bs-example widget-shadow task-card-container col-md-9" data-example-id="contextual-table">
    <h4>Request</h4>
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th></th>
  
        </tr>
      </thead>
      <tbody multi="true" *ngIf="transformedRequests.length > 0" >
        <tr class="active" *ngFor="let request of transformedRequests" >
          <td class="task-row" >
            
  
           
            <span  style="margin-left: 5px;">{{request.sender}}</span>
            <span> wants to add you in </span>
            <span class="label label-default" style="margin-left: 5px;">{{request.group}}</span>
            <span class="pull-right">
              <button (click) = "acceptRequest(request._id, request.groupId)"  class="btn btn-success btn-sm">Accept</button>
              <button (click) = "deleteRequest(request)"  class="btn btn-warning btn-sm">Reject</button>
            </span>
          </td>
  
        </tr>
  
  
      </tbody>
      <p *ngIf = "requests.length <= 0">
        No Request yet!
      </p>
    </table>
  </div>
  