<div
  class="bs-example widget-shadow task-card-container col-md-9"
  data-example-id="contextual-table"
>
  <h4 style="display: inline">Add Members</h4>

  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody multi="true">
      <tr class="active" >
        <td class="task-row">
          <div class="row" >
            <form (submit) = "sendRequest(addMember)"  #addMember = "ngForm" >
            <div class="col-md-10" >
              <input
              style="display: inline"
              type="email"
              class="form-control task-input"
              aria-label="Small"
              aria-describedby="inputGroup-sizing-sm"
              name="email"
              ngModel
              placeholder="Enter user's email address..."
            />
            </div>
            <div class="col-md-2">
              <button class="btn btn-warning pull-right btn-block" style="display: inline" >Add</button>
            </div>
      
          </form>
          <span style="margin-left: 20px; margin-top: 20px; color:red;">{{message}}</span>
          </div>
        </td>
      </tr>
    </tbody>
    
  </table>
</div>
